@import "variables";

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.content-container, .canvas-container {
  margin: 2em;
}

.canvas-container {
  margin-left: $sidenav-offset;
}

.pt-input {
  width: 100%;
}

.goJS-canvas {
  height: 85vh;
}

.tableList {
  width: $sidenav-width;
  background-color: #fff;
  height: 95%;
  position: absolute;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-list-item {
}

.center-horizontal {
  margin: 0 auto;
  width: 80%;
}

.projectCardContainer {
  display: inline-flex;
  justify-content: space-between;

  .pt-card {
    width: 226px;
    margin: 10px;
  }
}


.float-right {
  float: right;
}
