@import "variables";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content-container, .canvas-container {
  margin: 2em;
}

.canvas-container {
  margin-left: $sidenav-offset;
}

.pt-input {
  width: 100%;
}

.goJS-canvas {
  height: 85vh;
}

.tableList {
  width: $sidenav-width;
  background-color: #fff;
  height: 100%;
  position: absolute;
}
